################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Crytsals/DesignTimeBuild/.dtbcache.v2
/.vs/Crytsals/FileContentIndex/1cc078dd-cd17-486f-80ed-44a6c11e4434.vsidx
/.vs/Crytsals/FileContentIndex/2d544e9f-b26b-4f91-a9ee-e10cba02ebd0.vsidx
/.vs/Crytsals/FileContentIndex/48284d31-7b4b-4eb3-bf55-85cd1cdbca63.vsidx
/.vs/Crytsals/FileContentIndex/60c75025-7f9f-4c81-83e3-09563bb4dbd6.vsidx
/.vs/Crytsals/FileContentIndex/7544a112-aa46-447f-b049-332804bbff13.vsidx
/.vs/Crytsals/FileContentIndex/983f2b92-0165-4887-b152-0f1338b1813c.vsidx
/.vs/Crytsals/FileContentIndex/cd8a7f43-e766-459c-aef3-9c4c9f780fcc.vsidx
/.vs/Crytsals/FileContentIndex/daae036e-d191-4b0e-9293-a7abb61c605c.vsidx
/.vs/Crytsals/FileContentIndex/e3f36ef2-9010-4210-b9a3-61231eec107a.vsidx
/.vs/Crytsals/FileContentIndex/e772d698-28dd-41a9-bd96-979a7849a26f.vsidx
*.vsidx
/.vs/Crytsals/v17/.futdcache.v2
/.vs/Crytsals/v17/.suo
/.vs/ProjectEvaluation/crytsals.metadata.v7.bin
/.vs/ProjectEvaluation/crytsals.projects.v7.bin
/bin/Debug/net6.0/Crytsals.dll
/bin/Debug/net6.0/Crytsals.pdb
/obj/Debug/net6.0/ref/Crytsals.dll
/obj/Debug/net6.0/refint/Crytsals.dll
/obj/Crystals.csproj.nuget.dgspec.json
/obj/Crystals.csproj.nuget.g.props
/obj/Debug/net6.0/Crystals.AssemblyInfo.cs
/obj/Debug/net6.0/Crystals.AssemblyInfoInputs.cache
/obj/Debug/net6.0/Crystals.assets.cache
/obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
/obj/Debug/net6.0/Crystals.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Crystals.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/Crystals.sourcelink.json
/obj/Debug/net6.0/Crytsals.dll
/obj/Debug/net6.0/Crytsals.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/bin/Debug/net6.0/Crystals.deps.json
/bin/Debug/net6.0/Crystals.dll
/bin/Debug/net6.0/Crystals.pdb
/bin/Debug/net6.0/Crytsals.deps.json
*.dll
*.pdb
