################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Crytsals/DesignTimeBuild/.dtbcache.v2
/.vs/Crytsals/FileContentIndex/1cc078dd-cd17-486f-80ed-44a6c11e4434.vsidx
/.vs/Crytsals/FileContentIndex/2d544e9f-b26b-4f91-a9ee-e10cba02ebd0.vsidx
/.vs/Crytsals/FileContentIndex/48284d31-7b4b-4eb3-bf55-85cd1cdbca63.vsidx
/.vs/Crytsals/FileContentIndex/60c75025-7f9f-4c81-83e3-09563bb4dbd6.vsidx
/.vs/Crytsals/FileContentIndex/7544a112-aa46-447f-b049-332804bbff13.vsidx
/.vs/Crytsals/FileContentIndex/983f2b92-0165-4887-b152-0f1338b1813c.vsidx
/.vs/Crytsals/FileContentIndex/cd8a7f43-e766-459c-aef3-9c4c9f780fcc.vsidx
/.vs/Crytsals/FileContentIndex/daae036e-d191-4b0e-9293-a7abb61c605c.vsidx
/.vs/Crytsals/FileContentIndex/e3f36ef2-9010-4210-b9a3-61231eec107a.vsidx
/.vs/Crytsals/FileContentIndex/e772d698-28dd-41a9-bd96-979a7849a26f.vsidx
*.vsidx
/.vs/Crytsals/v17/.futdcache.v2
/.vs/Crytsals/v17/.suo
/.vs/ProjectEvaluation/crytsals.metadata.v7.bin
/.vs/ProjectEvaluation/crytsals.projects.v7.bin
/bin/Debug/net6.0/Crytsals.dll
/bin/Debug/net6.0/Crytsals.pdb
/obj/Debug/net6.0/ref/Crytsals.dll
/obj/Debug/net6.0/refint/Crytsals.dll
/obj/Crystals.csproj.nuget.dgspec.json
/obj/Crystals.csproj.nuget.g.props
/obj/Debug/net6.0/Crystals.AssemblyInfo.cs
/obj/Debug/net6.0/Crystals.AssemblyInfoInputs.cache
/obj/Debug/net6.0/Crystals.assets.cache
/obj/Debug/net6.0/Crystals.csproj.AssemblyReference.cache
/obj/Debug/net6.0/Crystals.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Crystals.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Crystals.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/Crystals.sourcelink.json
/obj/Debug/net6.0/Crytsals.dll
/obj/Debug/net6.0/Crytsals.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/bin/Debug/net6.0/Crystals.deps.json
/bin/Debug/net6.0/Crystals.dll
/bin/Debug/net6.0/Crystals.pdb
/bin/Debug/net6.0/Crytsals.deps.json
*.dll
*.pdb
/bin/Debug/net6.0/Hjson.xml
/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.pdb
/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.pdb
/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.FlowAnalysis.Utilities.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.pdb
/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.pdb
/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.pdb
/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.xml
/bin/Debug/net6.0/Microsoft.CodeAnalysis.xml
/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.xml
/bin/Debug/net6.0/Mono.Cecil.Mdb.pdb
/bin/Debug/net6.0/Mono.Cecil.pdb
/bin/Debug/net6.0/Mono.Cecil.Pdb.pdb
/bin/Debug/net6.0/Mono.Cecil.Rocks.pdb
/bin/Debug/net6.0/MonoMod.Backports.pdb
/bin/Debug/net6.0/MonoMod.Backports.xml
/bin/Debug/net6.0/MonoMod.Core.pdb
/bin/Debug/net6.0/MonoMod.Core.xml
/bin/Debug/net6.0/MonoMod.Iced.pdb
/bin/Debug/net6.0/MonoMod.Iced.xml
/bin/Debug/net6.0/MonoMod.ILHelpers.pdb
/bin/Debug/net6.0/MonoMod.RuntimeDetour.pdb
/bin/Debug/net6.0/MonoMod.RuntimeDetour.xml
/bin/Debug/net6.0/MonoMod.Utils.pdb
/bin/Debug/net6.0/MonoMod.Utils.xml
/bin/Debug/net6.0/ReLogic.dll
/bin/Debug/net6.0/ReLogic.pdb
/bin/Debug/net6.0/System.CodeDom.xml
/bin/Debug/net6.0/System.Composition.AttributedModel.xml
/bin/Debug/net6.0/System.Composition.Convention.xml
/bin/Debug/net6.0/System.Composition.Hosting.xml
/bin/Debug/net6.0/System.Composition.Runtime.xml
/bin/Debug/net6.0/System.Composition.TypedParts.xml
/bin/Debug/net6.0/System.Configuration.ConfigurationManager.xml
/bin/Debug/net6.0/System.Diagnostics.PerformanceCounter.xml
/bin/Debug/net6.0/System.Drawing.Common.xml
/bin/Debug/net6.0/System.IO.Pipelines.xml
/bin/Debug/net6.0/System.Reflection.MetadataLoadContext.xml
/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.xml
/bin/Debug/net6.0/System.Security.Permissions.xml
/bin/Debug/net6.0/System.Windows.Extensions.xml
/bin/Debug/net6.0/tModLoader.dll
/bin/Debug/net6.0/tModLoader.pdb
/bin/Debug/net6.0/tModLoader.xml
/bin/Debug/net6.0/tModPorter.dll.config
/bin/Debug/net6.0/UtfUnknown.xml
